*{
  margin: 0;
  box-sizing: border-box;
}

.App {
  font-family: 'Montserrat Alternates';
  line-height: 1.6rem;
}

button {
  box-shadow: inset 5px 4px 6px -3px rgba(255, 255, 255, 0.7);
}

button:hover,
button:focus {
  box-shadow: none;
}

button:active {
  box-shadow: inset 5px 5px 10px -3px rgba(54, 54, 54, 0.7);
}

a {
  text-decoration: none;
  color: white
}

.Header-plein-menu .Active {
  border-bottom: 1px white solid;
}

.Header-menu .Active {
  text-decoration: underline;
}

img {
  image-rendering: optimizeSpeed;
}


/*----- HEADER -----*/

.Header {
  width: 100%;
  min-height: 80px;
  background-color:  #063F3E;
  font-size: calc(1rem + 2vmin);
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.Header-left {
  display: flex;
  align-items: center;
}

.Header img{
  width: 4rem;
  height: 4rem;
  margin: 0.5em;
}

.Header-title {
  font-size: 1.5rem;
}

.Header-plein-menu {
  display: none;
  font-size: 1.2rem;
  font-weight: bold;
}

.Header-plein-menu a {
  margin: 0 1em;
  border-bottom: 1px rgba(255, 255, 255, 0) solid;
}

.Header-burger {
  transform: rotate(90deg);
  font-weight: 500;
  letter-spacing: 0.1rem;
  cursor: pointer;
}

.Header-menu {
  margin-top: 4.6em;
  padding-top: 1em;
  cursor: pointer;
  display: flex;
  flex-direction: column;
}

.Header-menu a{
  border-bottom: #063F3E solid 1px;
  backdrop-filter: blur(5px);
  background-color: #c3ddd0a9;
  font-size: 1rem;
  padding: 0.6em;
  text-align: center;
  color:#063F3E;
  font-weight: bold;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

@media(min-width: 800px){
  .Header-plein-menu {
    display: flex;
    font-size: 0.9rem;
    font-weight: bold;
  }

  .Header-burger {
    display: none;
  }

  .Header-plein-menu a:hover {
    border-bottom: 1px white solid;
    cursor: pointer;
  }
}

/*----- HIGHLIGHT -----*/

.Highlight-img {
  height: 83vh;
  padding-top: 4em;
  background-image: url('../public/images/marion-lac.jpg');
  background-color: #64966b93;
  background-blend-mode: darken;
  background-position: left;
  background-size: cover;
  font-family: 'Montserrat';
  font-style: italic;
  display: flex;
  align-items: center;
}

.Highlight-quote {
  font-size: 1.2rem;
  text-align: center;
  padding: 1em;
  color: white;
  text-shadow: rgba(26, 25, 25, 0.705) 5px 5px 10px ;
}

@media(min-width: 800px){
  .Highlight-img {
    height: 100vh;
    background-image: url('./assets/marion-lac.jpg');
    background-position: left;
    justify-content: right;
  }

  .Highlight-quote {
    font-size: 1.8rem;
    color: white;
    width: 50%;
    margin-right: 4em;
  }
}


/*---- PRESENTATION COURTE -----*/

.Presentation {
  background-color: #71af906c;
  padding: 1.5em;
  display: flex;
  flex-direction: column;
}

.Presentation-first-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2em 0;
}

.Presentation h2 {
  margin-top: 1rem;
}

.Presentation p {
  padding: 1em 0;
}

.Presentation img {
  width: 50%;
  margin: 0 auto;
  border-radius: 50%;
  border: 1px #063F3E solid;
}

.Presentation-second-container{
  display: none;
}

@media(min-width: 700px){
  
  .Presentation-container {
    max-width: 1200px;
    margin: 2em auto;
  }

  .Presentation-first-container{
    margin: 2em 0;
    flex-direction: row;
  }

  .Presentation-generale{
    width: 45%;
  }

  .Presentation-container h2{
    margin: 1em 0;
  }

  .Presentation img {
    width: 40%;
    margin: 0 auto;
    border-radius: 50% 50% 3% 3%;
    max-height: 50vh;
    object-fit: cover;
    object-position: top;
  }  
  
  .Presentation > img::before {
    border: 2px solid #063F3E;
    position: relative;
    left: -5px;
  }

  .Presentation-second-container{
    display: block;
    margin: 4em 0;
  }

  .Presentation-detaillee {
    display: flex;
    justify-content: space-between;
  }

  .Presentation-detaillee p {
    margin-right: 1em;
    width: 50%;
  }

}

/*---- ACTIVITE -----*/

.Activite {
  padding: 1.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 600px;
}

.Activite-container {
  background-color: #71af906c;
}

.Activite p {
  padding: 1em 0;
}

.Activite h2 {
  margin-top: 1rem;
  text-align: center;
}

.Activite-more {
  background-color: #b36a5e;
  border: none;
  padding: 0.5em 1em;
  color: white;
  font-family: inherit;
  border-radius: 10px;
  width: 60%;
  cursor: pointer;
}

.Activite img {
  width: 50%;
  border-bottom: 1px solid black;
}

.Activite img:last-child {
  width: 50%;
}

@media(min-width: 700px){
  .Activite-container{
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 2em auto;
  }
  .Activite {
    width: 50%;
    justify-content: space-between;
  }

  .Activite-more {
    font-size: 1rem;
  }

  .Activite-text {
    height: 350px;
    display: inline-block;
  }

  .Activite button {
    display: block;
  }
}

/*----- RESERVATION -----*/

.Reservation {
  padding: 1.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #71af906c;
}

.Reservation button {
  background-color: #063F3E;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 0.8em 2em;
  font-family: inherit;
  font-size: 1.25rem;
  cursor: pointer;
}

/*---- CAROUSEL ----*/

.Carousel {
  background-image: "/images/ginkgo-leaves.jpg";
  background-size: cover;
  background-repeat: repeat;
  padding: 2em;
  border: 2px solid red;
  background: #063F3E;
}

.Carousel-container {
  display: flex;
  scroll-snap-type: x mandatory;
  overflow: scroll;
  border: 2px solid purple;
}

.Carousel-container img  {
  max-width: 80%;
  image-rendering: optimizeSpeed;
  image-resolution: inherit;
  margin-right: 1rem;
  flex-shrink: 0;
  scroll-snap-align: start;
}

@media(min-width: 700px){
  .Carousel-container img {
    width: 40%;
  }

  .Carousel-container {
    overflow: visible;
  }
}

/*---- FOOTER -----*/

.Footer {
  padding: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #b36a5e;
  color: white;
}

